<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
    <class name="Academy.tests.FailTest"/>
     <class name="Academy.tests.LoginPageTest"/>
      <class name="Academy.tests.TimeTrackPageTest"/>
      <class name="Academy.tests.LicenscePageTest"/>
    </classes>
  </test> 
</suite> 
